<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <style>
        .button{
            border-radius: 8px;
            background-color: lightgreen;
            width: 30px;
            height: 30px;
            font-size: 15px;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <!--<button onclick="getElementById('game').style.display = 'block'; this.style.display = 'none'"> Start Game </button> -->
    <div >
        <a href="{% url 'lifetime-wins' %}" >Lifetime Wins</a>
    </div>
    <div >
        <a href="{% url 'game' %}" >Play Again</a>
    </div>
    <div id="game" > 
        <div>
            Starting Decks
            <br>
            Player 1: {{game_info.player_1_start}}
            <br>
            Player 2: {{game_info.player_2_start}}
            <p></p>
        </div>
        {%for round in game_info.rounds%}
        <div>
            <div>
                Type: {{round.type}}
                <br>
            </div>
            <div>
                Player 1 Card: {{round.player_1_card}}
                <br>
            </div>
            <div>
                Player 2 Card: {{round.player_2_card}}
                <br>
            </div>
            <div>
                Winning Pot: {{round.winning_pot}}
            </div>
            <div>
                Player 1 Deck: {{round.player_1_deck}}
            </div>
            <div>
                Player 1 Number of Cards: {{round.player_1_num_cards}}
            </div>
            <div>
                Player 2 Deck: {{round.player_2_deck}}
            </div>
            <div>
                Player 2 Number of Cards: {{round.player_2_num_cards}}
            </div>
            <p></p>
        </div>
        {%endfor%}
        <div>
            {{game_info.winner}} wins!
        </div>
    </div>
    <script>

    </script>

</body>
</html>