<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <style>
        .hidden-div {
            display:none
        }
    </style>
</head>
<body>
    <!--<button onclick="getElementById('game').style.display = 'block'; this.style.display = 'none'"> Start Game </button> -->
    <div >
        <a href="{% url 'lifetime-wins' %}" >Lifetime Wins</a>
    </div>
    <div id="game" > 
        <div>
            {{game_info.player_1_start}}
            <br>
            {{game_info.player_2_start}}
        </div>
        {%for round in game_info.rounds%}
        <div>
            {{round}}
            <p></p>
        </div>
        {%endfor%}
        <div>
            {{game_info.winner}}
        </div>
    </div>
    <script>

    </script>

</body>
</html>